.body{
    margin: 0;
    padding: 0;
    background-color: #FFF9C9;
}

.navbar {
  background-color: #862B0D;
  color: #FFF9C9;
  height: 80px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #862B0D;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.sidebar ul li a{
  font-size: 23;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.sidebar .circle {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 60px;
}

.sidebar .circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.sidebar a {
  color: #FFF9C9;
}

.sidebar .nav-link {
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 500;
}
  
.content {
  margin-top: 105px;
  margin-left: 225px;
  padding: 20px;
}

.containe .circle{
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containe .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nyala{
  background-color: red;
}

.nav-hover{
  border-radius: 20px;
  margin: 0 5px;
}

.nav-hover:hover {
  background-color:#FFF9C9;
}

.logout-link {
  color: #000000;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}

.logout-link:hover {
  background-color: #ff0000; /* Ubah warna latar belakang saat hover */
}

.kotak {
  width: 1240px;
  height: 550px;
  border-radius: 10px;
  background-color: #CDC899;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kotak h2{
  padding: 30px;
}

#tabelData th {
  background-color: #000000; /* Warna latar belakang */
  color: #ffffff; /* Warna teks */
}

.status-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Membuat lingkaran */
  margin-right: 5px; /* Jarak antara lingkaran dan teks */
}

.status-cell {
  text-align: center;
  vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
}

.status-mengirim::before {
  background-color: #00ff00;
}

.status-mengagur::before {
  background-color: #ff2600;
}

.status-off::before {
  background-color: #636363;
}

/* Login */
.login-form {
  width: 360px;
  margin: 120px auto;
  font-family: Arial, sans-serif;
}

.login-form form {
  margin-bottom: 15px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin: 0 0 15px;
  color: #333;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn-custom {
  background-color: #862B0D;
  color: #ffffff;
  padding: 10px 20px; /* Sesuaikan dengan kebutuhan Anda */
  border-radius: 25px;
  border-color: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .btn-custom:hover {
  background-color: #ffca2c;
} */

.btn-search {
  background-color: #FFF9C9;
  color: #000000;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group{
  margin-bottom: 10px;
}

.kotak-profile {
  width: 1240px;
  height: 500px;
  border-radius: 10px;
  background-color: #CDC899;
  display: flex;
}

.kotak-profile h2{
  padding: 30px;
}

.profile {
  margin: 20px;
  width: 600px;
}

.update {
  background-color: #862B0D;
  color: #ffffff;
}

.content .circle{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.box {
  color: #ffffff;
  width: 50px;
}